\#*\#
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Creds file
creds.py
osm.creds
owncloud_accounts.py
key.pem
docs.txt


# Misc bits
.ipynb_checkpoints
.osm_request_cache.sqlite
.ropeproject
archive
tmp
vcards
py
carddav_util
google_accounts.py
ipython_notebooks
