apiclient==1.0.3
docopt==0.6.2
gocardless-pro==0.3.0
google-api-python-client==1.6.2
gspread==0.6.2
httplib2==0.10.3
icalendar==3.11.6
mailchimp3==2.0.11
numpy==1.12.1
oauth2client==4.0.0
pandas==0.19.2
pyasn1==0.2.3
pyasn1-modules==0.0.8
python-dateutil==2.6.0
pytz==2017.2
requests==2.13.0
requests-cache==0.4.13
rsa==3.4.2
six==1.10.0
tabulate==0.7.7
uritemplate==3.0.0
urllib3==1.20
vobject==0.9.4.1
XlsxWriter==0.9.6
